<a href="https://colab.research.google.com/github/sami1592/models/blob/master/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("hello world")

hello world

## **Variable**

In [ ]:
# Creating variables
name = "Rahim"
age = 20
is_student = True
height = 5.9
# Printing variables
print("Name:", name)
print("Age:", age)
print("Student status:", is_student)
print("Height:", height, "feet")

Name: Rahim
Age: 20
Student status: True
Height: 5.9 feet

In [ ]:
name = "Tasnim"
address = 'Dhaka'
age = 25     # integer
price = 99.99  # float
is_valid = True
has_paid = False
result = None
print(type(name))
print(type(age))
print(type(price))
print(type(is_valid))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>